/* Estilos generales para el cuerpo del documento */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el contenedor principal */
  #canvas {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid red;
  }
  
  /* Estilos para el encabezado */
  #header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: 1px solid red;
  }
  
  /* Estilos para el menú dentro del encabezado */
  .menubar-demo {
    background-color: #0056b3; /* Color de fondo del menú */
  }
  
  /* Estilos para la sección de contenido */
  #contenido {
    flex: 1; /* La sección de contenido ocupa todo el espacio restante */
    padding: 20px;
    border: 1px solid red;
  }
  
  /* Estilos para el pie de página */
  #footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid red;
  }
  